In [1]:
import numpy as np
import os
import pandas as pd
from scipy import signal
import scipy.linalg as linalg

for i in range (1,9):    # From Subject-01 To Subject-08
    dir_path = r"C:\Users\power\Desktop\CDSS_FinalProject\Fingers\S"+str(i)
    print('\n....................................................... Subject_0'+str(i)+" .................................................................")
    for file_name in os.listdir(dir_path):
        if file_name.endswith(".csv"):
            file_path = os.path.join(dir_path, file_name)
            df = pd.read_csv(file_path)
            result1=[]
            result=[]
            # Load EMG signal from CSV file
            for i, col_name in enumerate(df.columns):
                # Extract signal values from DataFrame
                emg_signal = df.iloc[:, i].values
                col_name_str = str(col_name)
                emg_signal = df[col_name_str].values
                # Compute time domain features
                
                # Determine sign of each element in array
                sign = np.sign(emg_signal)
                # Calculate sign changes between consecutive elements of array
                sign_changes = np.diff(sign)
                # Count number of sign changes
                num_zero_crossings = np.count_nonzero(sign_changes)
                # Divide by two to obtain number of zero crossings
                num_zero_crossings = num_zero_crossings // 2                       # 1 feature
                result.append(num_zero_crossings)
                
                # Calculate absolute differences between consecutive elements of array
                diffs = np.abs(np.diff(emg_signal))
                # Sum the absolute differences to obtain waveform length
                waveform_length = np.sum(diffs)                                   # 2 feature
                result.append(waveform_length)
                
                # Calculate first-order differences between consecutive elements of array
                diffs3 = np.diff(emg_signal)
                # Determine sign of each first-order difference
                signs = np.sign(diffs3)
                # Calculate second-order differences between consecutive sign values
                diff_signs = np.diff(signs) 
                # Count number of sign changes
                num_slope_sign_changes = np.count_nonzero(diff_signs)
                # Divide by two to obtain number of slope sign changes
                num_slope_sign_changes = num_slope_sign_changes // 2                 # 3 feature
                result.append(num_slope_sign_changes)
                
                # Calculate absolute values of each element in array
                abs_signal = np.abs(emg_signal)
                # Take the mean of the absolute values to obtain MAV
                mav = np.mean(abs_signal)                                          # 4 feature
                result.append(mav)
                

                # Calculate cumulative sum of absolute values
                cumsum_abs_signal = np.cumsum(abs_signal)
                # Take the last element of the cumulative sum to obtain IAV
                iav = cumsum_abs_signal[-1]                                      # 5 feature
                result.append(iav)
                
                # Calculate first-order differences between consecutive elements of array
                diff1 = np.diff(emg_signal)
                # Calculate second-order differences between consecutive elements of the first-order differences
                diff2 = np.diff(diff1)
                # Calculate variance of signal and variances of first- and second-order differences
                var_signal = np.var(emg_signal)
                var_diff1 = np.var(diff1)
                var_diff2 = np.var(diff2)
                #the Hjorth time-domain parameters
                # Calculate activity, mobility, and complexity parameters
                activity = var_signal                                               # 6 feature 
                mobility = np.sqrt(var_diff1 / var_signal)                          # 7 feature 
                complexity = np.sqrt(var_diff2 / var_diff1) / mobility              # 8 feature
                result.append(activity)
                result.append(mobility)
                result.append(complexity)
                
                rms = np.sqrt(np.mean(np.square(emg_signal)))                       # 9 feature
                result.append(rms)
                mean = np.mean(emg_signal)
                std = np.std(emg_signal)
                skewness = np.mean((emg_signal - mean)**3) / np.power(std, 3)       # 10 feature
                result.append(skewness)
                
                # Calculate autocorrelation of signal
                autocorr = signal.lfilter(emg_signal, 1, emg_signal[::-1])
                # Generate Toeplitz matrix of autocorrelation values
                r = autocorr[:11]
                R = linalg.toeplitz(r)
                # Solve Yule-Walker equations to obtain AR model parameters
                a = linalg.solve(R, r)                                          # 11 - 21 features 
                
                for k in range (0,11):
                    result.append(a[k])

                
            features_dict1={"Number of zero crossings (1)":result[0], "Waveform length(1)": result[1], "Number of slope sign changes (1)":result[2], 
                            "Mean absolute value (1)": result[3], "Integral absolute  (1)": result[4], 'RMS (1)':result[5],'skewness (1)':result[6],"Activity (1)":result[7],"Mobility (1)":result[8],"Complexity(1)":result[9],'AR model P1 (1)' :result[10],
                            'AR model P2(1)' :result[11],'AR model P3(1)' :result[12],'AR model P4(1)' :result[13],'AR model P5(1)' :result[14],'AR model P6(1)' :result[15],'AR model P7 (1)' :result[16],'AR model P8 (1)' :result[17],'AR model P9(1)' :result[18],'AR model P10(1)' :result[19],'AR model P11(1)' :result[20],"Number of zero crossings (2)":result[21], "Waveform length(2)": result[22], "Number of slope sign changes (2)":result[23], 
                            "Mean absolute value (2)": result[24], "Integral absolute  (2)": result[25], 'RMS (2)': result[26],'skewness (2)':result[27],"Activity (2)":result[28],"Mobility (2)":result[29],"Complexity(2)":result[30],'AR model P1 (2)' :result[31],
                            'AR model P2(2)' :result[32],'AR model P3(2)' :result[33],'AR model P4(2)' :result[34],'AR model P5(2)' :result[35],'AR model P6(2)' :result[36],'AR model P7 (2)' :result[37],'AR model P8 (2)' :result[38],'AR model P9(2)' :result[39],'AR model P10(2)' :result[40],'AR model P11(2)' :result[41],"Number of zero crossings (3)":result[42], "Waveform length(3)": result[43], "Number of slope sign changes (3)":result[44], 
                            "Mean absolute value (3)": result[45], "Integral absolute  (3)": result[46], 'RMS (3)': result[47],'skewness (3)':result[48],"Activity (3)":result[49],"Mobility (3)":result[50],"Complexity(3)":result[51],'AR model P1 (3)' :result[52],
                            'AR model P2(3)' :result[53],'AR model P3(3)' :result[54],'AR model P4(3)' :result[55],'AR model P5(3)' :result[56],'AR model P6(3)' :result[57],'AR model P7 (3)' :result[58],'AR model P8 (3)' :result[59],'AR model P9(3)' :result[60],'AR model P10(3)' :result[61],'AR model P11(3)' :result[62],"Number of zero crossings (4)":result[63], "Waveform length(4)": result[64], "Number of slope sign changes (4)":result[65], 
                            "Mean absolute value (4)": result[66], "Integral absolute  (4)": result[67], 'RMS (4)': result[68],'skewness (4)':result[69],"Activity (4)":result[70],"Mobility (4)":result[71],"Complexity(4)":result[72],'AR model P1 (4)' :result[73],
                            'AR model P2(4)' :result[74],'AR model P3(4)' :result[75],'AR model P4(4)' :result[76],'AR model P5(4)' :result[77],'AR model P6(4)' :result[78],'AR model P7 (4)' :result[79],'AR model P8 (4)' :result[80],'AR model P9(4)' :result[81],'AR model P10(4)' :result[82],'AR model P11(4)' :result[83],"Number of zero crossings (5)":result[84], "Waveform length(5)": result[85], "Number of slope sign changes (5)":result[86], 
                            "Mean absolute value (5)": result[87], "Integral absolute  (5)": result[88], 'RMS (5)': result[89],'skewness (5)':result[90],"Activity (5)":result[91],"Mobility (5)":result[92],"Complexity(5)":result[93],'AR model P1 (5)' :result[94],
                            'AR model P2(5)' :result[95],'AR model P3(5)' :result[96],'AR model P4(5)' :result[97],'AR model P5(5)' :result[98],'AR model P6(5)' :result[99],'AR model P7 (5)' :result[100],'AR model P8 (5)' :result[101],'AR model P9(5)' :result[102],'AR model P10(5)' :result[103],'AR model P11(5)' :result[104],"Number of zero crossings (6)":result[105], "Waveform length(6)": result[106], "Number of slope sign changes (6)":result[107], 
                            "Mean absolute value (6)": result[108], "Integral absolute  (6)": result[109], 'RMS (6)': result[110],'skewness (6)':result[111],"Activity (6)":result[112],"Mobility (6)":result[113],"Complexity(6)":result[114],'AR model P1 (6)' :result[115],
                            'AR model P2(6)' :result[116],'AR model P3(6)' :result[117],'AR model P4(6)' :result[118],'AR model P5(6)' :result[119],'AR model P6(6)' :result[120],'AR model P7 (6)' :result[121],'AR model P8 (6)' :result[122],'AR model P9(6)' :result[123],'AR model P10(6)' :result[124],'AR model P11(6)' :result[125],"Number of zero crossings (7)":result[126], "Waveform length(7)": result[127], "Number of slope sign changes (7)":result[128], 
                            "Mean absolute value (7)": result[129], "Integral absolute  (7)": result[130], 'RMS (7)': result[131],'skewness (7)':result[132],"Activity (7)":result[133],"Mobility (7)":result[134],"Complexity(7)":result[135],'AR model P1 (7)' :result[136],
                            'AR model P2(7)' :result[137],'AR model P3(7)' :result[138],'AR model P4(7)' :result[139],'AR model P5(7)' :result[140],'AR model P6(7)' :result[141],'AR model P7 (7)' :result[142],'AR model P8 (7)' :result[143],'AR model P9(7)' :result[144],'AR model P10(7)' :result[145],'AR model P11(7)' :result[146],"Number of zero crossings (8)":result[147], "Waveform length(8)": result[148], "Number of slope sign changes (8)":result[149], 
                            "Mean absolute value (8)": result[150], "Integral absolute  (8)": result[151], 'RMS (8)': result[152],'skewness (8)':result[153],"Activity (8)":result[154],"Mobility (8)":result[155],"Complexity(8)":result[156],'AR model P1 (8)' :result[157],
                            'AR model P2(8)' :result[158],'AR model P3(8)' :result[159],'AR model P4(8)' :result[160],'AR model P5(8)' :result[161],'AR model P6(8)' :result[162],'AR model P7 (8)' :result[163],'AR model P8 (8)' :result[164],'AR model P9 (8)' :result[165],'AR model P10(8)' :result[166],'AR model P11(8)' :result[167]}

            print("Results for file: ", file_name)
            result1.append(features_dict1)
            results_df1 = pd.DataFrame(result1)
            display(results_df1)

....................................................... Subject_01 .................................................................
Results for file:  I_I1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,1783,2.407903,4524,0.000209,16.692111,7.844075e-08,0.146069,2.260088,0.000281,0.651474,...,1.010650e-16,-8.237306e-16,2.512286e-16,-1.245896e-16,-1.854678e-17,1.504554e-15,-2.432503e-15,1.465651e-15,8.329340e-17,-3.214932e-16

Results for file:  I_I2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,1709,2.290811,4323,0.000207,16.526395,7.590755e-08,0.141624,2.243901,0.000276,0.624467,...,-1.564669e-17,3.829075e-16,-3.440618e-16,-5.928053e-17,4.716910e-16,-1.130724e-15,3.111115e-15,-4.221267e-15,2.641385e-15,-6.139633e-16

Results for file:  I_I3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,1772,2.59233,4355,0.000225,18.028811,9.165651e-08,0.148616,2.275104,0.000303,0.613129,...,-1.744972e-16,1.186430e-16,-3.854304e-18,1.582819e-18,3.409661e-18,4.073605e-18,8.853024e-18,-5.726219e-18,-1.935701e-17,1.846478e-17

Results for file:  L_L1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2354,4.157725,4777,0.000265,21.183267,1.221778e-07,0.206047,1.960186,0.00035,0.12628,...,9.866823e-17,1.090339e-16,8.926301e-17,4.535870e-17,-1.049405e-17,-6.130909e-17,-9.437335e-17,-1.040611e-16,6.935738e-17,3.030940e-16

Results for file:  L_L2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2411,4.489842,4812,0.000272,21.729427,1.308794e-07,0.220512,1.885585,0.000362,-0.37814,...,-8.652460e-17,-2.034800e-17,-3.284685e-17,-2.360340e-17,1.088068e-31,2.360340e-17,3.284685e-17,2.034800e-17,8.652460e-17,-6.374660e-17

Results for file:  L_L3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2304,5.337089,4670,0.000338,27.048193,2.006868e-07,0.208519,1.937621,0.000448,-0.197297,...,8.656337e-18,-2.773111e-17,5.168421e-16,-9.120827e-16,5.169751e-16,-2.767558e-17,8.724411e-18,-4.088907e-17,8.366470e-19,6.715819e-19

Results for file:  M_M1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2342,4.102636,5276,0.00025,19.963321,1.224601e-07,0.234553,1.901306,0.00035,-1.478196,...,-2.539752e-17,-1.234775e-16,3.942599e-16,2.264933e-16,-2.252354e-15,3.559172e-15,-2.300112e-15,5.197586e-16,-4.110396e-18,5.508995e-17

Results for file:  M_M2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2265,3.398445,5310,0.000208,16.670242,8.441261e-08,0.234782,1.86522,0.000291,-1.361232,...,-2.466018e-16,1.114007e-16,2.143549e-16,8.526427e-17,2.555967e-18,9.872312e-16,-2.077687e-15,3.035050e-15,-3.417203e-15,1.522492e-15

Results for file:  M_M3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2325,3.575294,5294,0.000216,17.285308,9.476252e-08,0.235842,1.861802,0.000308,-1.579635,...,7.630266e-16,3.017865e-16,4.658108e-16,-5.587573e-16,1.778365e-16,-4.489069e-16,1.215756e-15,1.143563e-16,-1.828962e-15,7.831059e-16

Results for file:  R_R1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,1932,2.426978,4643,0.000197,15.740886,6.787675e-08,0.15404,2.226227,0.000261,0.553114,...,-1.342063e-16,-6.471087e-17,-5.237317e-17,-1.907850e-19,-5.525458e-16,1.269348e-15,-5.294669e-16,4.767801e-17,6.729747e-18,-9.113664e-17

Results for file:  R_R2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,1853,1.868398,4781,0.000158,12.646667,4.288366e-08,0.149072,2.380278,0.000207,0.490004,...,2.387713e-16,-3.968599e-16,2.486132e-16,9.299778e-19,-1.007738e-17,2.015130e-16,-4.655473e-16,6.408016e-16,-8.828944e-16,4.565740e-16

Results for file:  R_R3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,1808,1.786502,4731,0.000155,12.403788,4.185368e-08,0.14467,2.388052,0.000205,0.502025,...,2.447322e-16,-1.524475e-16,-1.763506e-17,-1.726644e-17,-6.090884e-16,1.227365e-15,-6.082583e-16,-1.737709e-17,-2.034308e-17,7.513779e-18

Results for file:  T_T1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2215,2.798384,4855,0.000193,15.457346,6.479369e-08,0.18684,2.088006,0.000255,0.41366,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,-0.0,-0.0

Results for file:  T_T2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2087,2.326625,4785,0.000172,13.792642,5.257669e-08,0.173018,2.144243,0.00023,0.592392,...,0.0,0.0,0.0,-0.0,-0.0,-0.0,-0.0,0.0,0.0,-0.0

Results for file:  T_T3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2101,2.514865,4678,0.000184,14.698304,5.854381e-08,0.176022,2.113471,0.000243,0.549555,...,1.076727e-16,-1.825307e-16,1.031768e-16,3.568670e-18,-2.436540e-18,-3.767344e-18,-4.913168e-18,-1.921033e-18,-2.948601e-19,-1.898435e-18

....................................................... Subject_02 .................................................................
Results for file:  I_I1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2612,4.986073,5273,0.000289,23.105611,1.615472e-07,0.22697,1.764188,0.000403,-0.898977,...,2.479987e-16,-1.273409e-16,-4.786889e-18,1.367824e-18,-9.506512e-17,4.303461e-16,-6.434407e-16,4.224207e-16,-8.554510e-17,-4.611125e-17

Results for file:  I_I2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2367,4.271878,4978,0.000266,21.287418,1.282185e-07,0.212252,1.804255,0.000359,-0.644928,...,6.827926e-18,3.337058e-18,1.409706e-17,-2.218594e-16,3.761718e-16,-2.218594e-16,1.409706e-17,3.337058e-18,6.827926e-18,-1.911922e-18

Results for file:  I_I3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2215,4.493722,4655,0.000293,23.422426,1.569350e-07,0.204774,1.799847,0.000397,-0.752902,...,-6.464548e-17,3.405876e-16,-4.619323e-16,-4.179881e-16,8.598086e-16,-3.882882e-16,-1.138383e-17,-4.636662e-16,3.497807e-16,8.490688e-17

Results for file:  L_L1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2237,3.908403,4817,0.000254,20.285594,1.209630e-07,0.204786,1.832465,0.000348,-0.704903,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,-0.0,-0.0,-0.0

Results for file:  L_L2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2146,4.092646,4696,0.000275,22.012651,1.760531e-07,0.209844,2.017367,0.00042,-1.328716,...,5.986887e-16,7.560226e-16,2.083193e-15,4.118976e-16,-1.135807e-17,-8.288896e-16,-1.271621e-15,-1.153109e-15,-6.085865e-16,2.039925e-15

Results for file:  L_L3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2156,4.102447,4689,0.000276,22.046498,1.719839e-07,0.212668,1.880594,0.000415,-1.337089,...,3.490726e-14,-4.543710e-14,2.236667e-14,9.958715e-15,-2.376880e-14,1.074771e-14,7.123869e-15,-1.526996e-14,1.447099e-14,-6.054728e-15

Results for file:  M_M1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2454,5.157899,5015,0.000305,24.420255,1.776334e-07,0.226204,1.719999,0.000422,-0.641784,...,-5.391940e-18,-1.662586e-18,1.674922e-18,5.881327e-18,4.224953e-18,7.364794e-17,-1.561826e-16,7.930983e-17,1.337408e-17,-1.475228e-17

Results for file:  M_M2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2095,2.260723,5564,0.000145,11.596955,4.197544e-08,0.227991,1.831958,0.000206,0.009759,...,-1.607790e-14,-4.456836e-15,4.515039e-15,8.831312e-15,1.074192e-14,8.054782e-15,5.241779e-15,-4.901720e-15,-1.588993e-14,7.127121e-15

Results for file:  M_M3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2272,3.345184,5021,0.000214,17.108253,8.482744e-08,0.213105,1.833271,0.000292,-0.360452,...,8.738348e-17,-1.348234e-16,8.906416e-17,7.431558e-19,8.880931e-19,-3.122688e-18,-4.189906e-18,-9.727944e-18,-1.112796e-17,1.074982e-17

Results for file:  R_R1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2203,3.758197,4640,0.000249,19.947772,1.164540e-07,0.201944,1.819587,0.000342,-0.424914,...,-2.928854e-16,1.633134e-16,1.450815e-16,-2.328190e-16,-4.181021e-17,-2.353589e-17,6.193795e-18,2.277859e-16,-3.263331e-16,5.366635e-17

Results for file:  R_R2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2084,3.224353,4640,0.000231,18.477175,9.621272e-08,0.185373,1.932269,0.000311,-0.419424,...,-4.112507e-16,-2.821435e-16,-1.475066e-16,-6.560529e-17,-5.503169e-17,7.889345e-18,1.292762e-15,-2.146137e-15,2.741312e-15,-1.657442e-15

Results for file:  R_R3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2182,4.563637,4455,0.000313,25.01619,1.760544e-07,0.194065,1.802942,0.00042,-0.664612,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0,-0.0

Results for file:  T_T1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2523,3.670789,5332,0.000216,17.281999,8.681591e-08,0.223746,1.831812,0.000296,-0.54025,...,2.988108e-14,2.595193e-14,2.496788e-15,-2.107569e-14,-3.017121e-14,-2.095576e-14,4.895053e-15,2.774005e-14,2.660148e-14,-2.627521e-14

Results for file:  T_T2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2486,4.106901,5230,0.000242,19.333598,1.092618e-07,0.226553,1.741419,0.000331,-0.762881,...,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.0,-0.0

Results for file:  T_T3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2606,3.389426,5464,0.000196,15.662372,6.747128e-08,0.225851,1.892177,0.000261,-0.060459,...,-3.388726e-16,1.058364e-16,1.275869e-15,-2.703848e-15,1.622386e-15,1.571388e-15,-3.611596e-15,3.360872e-15,-1.692857e-15,2.906886e-16

....................................................... Subject_03 .................................................................
Results for file:  I_I1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2931,2.024836,5587,0.000107,8.550303,1.860802e-08,0.245717,1.752059,0.000138,-0.391948,...,1.448946e-16,2.089403e-18,-4.548383e-16,2.155509e-16,-8.460303e-17,-8.497916e-17,2.308182e-16,-5.718620e-16,3.170266e-16,1.255930e-16

Results for file:  I_I2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,3157,2.917501,5659,0.000144,11.480066,3.421948e-08,0.262526,1.679915,0.000186,-0.37146,...,-6.655529e-17,-1.299437e-16,1.666367e-16,1.088970e-17,1.418028e-17,1.620252e-17,1.389839e-17,2.071200e-17,-4.718559e-17,-6.911629e-17

Results for file:  I_I3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,3113,3.173049,5583,0.000159,12.709049,4.398703e-08,0.256061,1.702811,0.00021,-0.627623,...,-2.661910e-16,3.405837e-16,-3.585023e-16,3.376371e-16,-2.697945e-16,1.700941e-16,-8.937685e-17,-1.923961e-19,-9.419325e-18,2.954135e-17

Results for file:  L_L1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2973,2.781132,5501,0.000148,11.810961,3.786955e-08,0.237571,1.777237,0.000195,-0.672902,...,7.262210e-16,2.848598e-17,-2.369120e-17,-3.354105e-16,-1.781894e-16,-1.592803e-16,1.882281e-16,4.272895e-16,9.183226e-16,-1.584985e-16

Results for file:  L_L2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2758,3.026304,5337,0.000169,13.53956,5.331217e-08,0.227003,1.809481,0.000231,-0.804779,...,-2.304417e-18,-4.784311e-18,-4.162669e-18,-3.212266e-18,-1.979675e-18,1.132019e-19,2.467963e-17,1.321969e-18,-6.840966e-17,6.354299e-17

Results for file:  L_L3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2758,3.026304,5337,0.000169,13.53956,5.331217e-08,0.227003,1.809481,0.000231,-0.804779,...,-2.304417e-18,-4.784311e-18,-4.162669e-18,-3.212266e-18,-1.979675e-18,1.132019e-19,2.467963e-17,1.321969e-18,-6.840966e-17,6.354299e-17

Results for file:  M_M1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2925,3.734235,5560,0.000188,15.025936,6.387005e-08,0.266234,1.710057,0.000253,-0.897949,...,4.190794e-17,-3.775009e-16,3.091666e-16,2.896585e-16,-4.303780e-16,2.570929e-18,2.361554e-16,8.265022e-17,-4.978303e-16,3.196284e-16

Results for file:  M_M2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2888,3.289606,5499,0.00017,13.561871,5.310927e-08,0.258392,1.721878,0.000231,-0.92122,...,1.073395e-14,9.861326e-15,-6.722038e-15,-1.329189e-14,-1.949968e-16,1.321487e-14,6.700370e-15,-8.938601e-15,-1.148939e-14,8.669324e-15

Results for file:  M_M3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2897,3.345831,5464,0.000173,13.860374,5.468840e-08,0.256627,1.722313,0.000234,-0.918136,...,-0.0,-0.0,-0.0,-0.0,-0.0,0.0,0.0,0.0,-0.0,0.0

Results for file:  R_R1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2892,2.360821,5558,0.000127,10.149972,2.748044e-08,0.236382,1.785924,0.000166,-0.331817,...,-1.579727e-17,-1.957483e-17,1.987237e-16,-3.571285e-16,2.081973e-16,-3.179878e-17,5.963766e-18,-4.155159e-16,7.294149e-16,-3.585605e-16

Results for file:  R_R2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2978,2.21423,5506,0.000117,9.34874,2.312080e-08,0.241041,1.755159,0.000153,-0.038147,...,0.0,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.0,-0.0,-0.0

Results for file:  R_R3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2914,1.951865,5574,0.000104,8.324995,1.781172e-08,0.238871,1.778941,0.000134,-0.092182,...,-2.040136e-16,1.562096e-16,4.037582e-17,5.007840e-17,-1.035688e-15,1.794364e-15,-1.035712e-15,5.358210e-17,4.909745e-17,3.744384e-17

Results for file:  T_T1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,3238,2.724524,5838,0.000129,10.346904,2.728172e-08,0.276295,1.633559,0.000166,-0.483986,...,-3.578256e-16,5.791571e-16,-3.028093e-16,2.407460e-17,2.972236e-17,3.152793e-17,-6.493085e-16,1.177683e-15,-6.792910e-16,7.664456e-17

Results for file:  T_T2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,3112,2.159858,5768,0.000108,8.639883,1.852050e-08,0.259705,1.711747,0.000137,-0.380908,...,-1.435252e-16,-1.548831e-16,-5.299827e-17,1.006063e-16,1.812776e-16,7.935037e-17,-5.110284e-16,5.872226e-16,-5.326423e-16,2.460436e-16

Results for file:  T_T3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,3047,2.021937,5707,0.000102,8.181808,1.662618e-08,0.256871,1.711059,0.00013,-0.348174,...,6.641902e-18,2.070874e-18,-3.130085e-18,8.362394e-19,4.180404e-18,1.001868e-17,-7.503985e-17,1.190115e-16,-7.770199e-17,1.820330e-17

....................................................... Subject_04 .................................................................
Results for file:  I_I1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2114,3.166854,4867,0.000213,17.002711,8.264793e-08,0.205091,1.805847,0.000289,0.861386,...,0.0,0.0,0.0,0.0,-0.0,0.0,-0.0,-0.0,0.0,0.0

Results for file:  I_I2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2181,3.174607,5068,0.000211,16.87512,8.203429e-08,0.204946,1.863113,0.000288,0.92006,...,4.467351e-17,-5.982331e-16,-9.485378e-16,8.669928e-16,-1.008249e-15,1.358145e-15,-1.774600e-16,-2.163510e-16,7.431204e-16,-1.215202e-15

Results for file:  I_I3.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2219,3.470056,5039,0.000228,18.274043,9.601925e-08,0.20235,1.868325,0.000311,0.901283,...,-1.001702e-16,-1.783330e-16,6.023383e-16,6.370263e-18,-1.144736e-15,1.550110e-15,-7.629762e-16,-7.728131e-16,7.812051e-16,-1.412964e-17

Results for file:  L_L1.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2357,4.633489,4469,0.000284,22.712397,1.522980e-07,0.221668,1.675254,0.000391,0.893307,...,3.932403e-16,-6.113511e-16,6.740632e-16,-1.249178e-15,1.727995e-15,-1.277073e-15,6.940984e-16,-4.143574e-16,8.640770e-17,1.626060e-17

Results for file:  L_L2.csv

,Number of zero crossings (1),Waveform length(1),Number of slope sign changes (1),Mean absolute value (1),Integral absolute (1),RMS (1),skewness (1),Activity (1),Mobility (1),Complexity(1),...,AR model P2(8),AR model P3(8),AR model P4(8),AR model P5(8),AR model P6(8),AR model P7 (8),AR model P8 (8),AR model P9 (8),AR model P10(8),AR model P11(8)
0,2495,7.437517,4746,0.000416,33.318451,3.389498e-07,0.245237,1.679462,0.000583,1.088561,...,-8.997079e-17,2.081439e-16,-5.987346e-16,8.012051e-16,-8.021444e-16,4.049753e-16,4.103224e-16,-7.951972e-16,8.061060e-16,-4.355648e-16